@mixin OnTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin OnDesktop {
  @media (min-width: $desctop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include OnTablet() {
    padding-inline: 72px;
  }

  @include OnDesktop() {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover($property, $toValue, $ease: ease) {
  transition: #{$property} 0.3s #{$ease};
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include OnTablet() {
    --columns: 6;

    column-gap: 24px;
  }

  @include OnDesktop() {
    --columns: 12;
  }
}

@mixin primary-button {
  display: inline-block;
  height: 56px;
  border-radius: 8px;
  border: none;

  background-color: $button-main-color;
  color: #fff;
  text-decoration: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;

  @include hover(background-color, $button-hover-color, ease);

  &:active {
    background-color: $button-active-color;
  }
}
