.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  @include OnTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../img/Icon-Phone-call.svg);
  }
  &--menu {
    background-image: url(../img/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../img/Icon-Burger-menu-hover.svg);
    }
  }
  &--close {
    background-image: url(../img/Icon-Close.svg);
  }
}
